.contact{
    
    .square-contact{
        
        background-color: red;
        width:100%;
        margin-top:4%;
    }
    .square-contact:last-child{
        margin-bottom:4%;
    }
    @media screen and (min-width: 768px) {
        .square-contact{
            width:48%;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .square-contact{
            width:23%;
        }
    }
}
.contact-form-container{
    h2{
        font-size: 3.75rem;
        letter-spacing: normal;
        font-weight: 700;
        text-transform: uppercase;
    }
    .wpcf7{
        .contact-form{
            p{
                display: flex;
                flex-direction: column;
                .wpcf7-submit{
                    background-color: transparent;
                    width:50%;
                    margin-left:auto;
                    margin-right:auto;
                    border-radius: 33px;
                    font-weight: 700;
                    font-size: 0.875rem;
                    letter-spacing: 1px;
                    border: 1px solid white !important;
                    color: white;
                    padding: 10px 25px 10px 25px;
                    text-decoration: none;
                    &:hover{
                        background-color: white !important;
                        color: #454545;
                    }
                }
                span{
                    
                    input{
                        width:100%;
                        margin-bottom:6%;
                        background-color: transparent;
                        border: 0;
                        border-bottom: 1px solid white;
                        color:white;
                    }
                    textarea{
                        width:100%;
                        background-color: transparent;
                        border:0;
                        border-bottom:1px solid white;
                        resize: none;
                        color:white;
                    }
                }
            }
        }
    }
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    border-color: red;
}
