// główne kolory
$color-main-1: #1a1a1a;
$color-main-2: white;
$color-main-3: #8a42d2;
$color-main-4: #f2f2f2;




// Nagłówek h
$color-h: white;
$font-size-h: 2.25rem;
$font-weight-h: 700;
$font-family-h: Lato, sans-serif !important;
$line-height-h: 1.1;

// paragraph p

$color-p: white;
$font-size-p: 1.1rem;
$line-height-p: 1.6;





